$body-bg:                     #EFEFEF;
$code-bg:                     #F8F8F8;
$code-color:                  inherit;
$font-size-base:              18px;
$pre-bg:                      #F8F8F8;
$pre-border-color:            #DDDDDD;
$pre-color:                   inherit;
