---
layout: default
---

{% assign index = true %}
{% for post in paginator.posts %}
  <article class="article" role="article">
    {% assign content = post.content %}
    {% include article.html %}
  </article>
{% endfor %}

<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <ul class="pager">
      <li class="previous{% unless paginator.next_page %} disabled{% endunless %}">
        <a href="{{paginator.next_page}}" rel="prev">&larr; anciens</a>
      </li>
      <li class="next{% unless paginator.previous_page %} disabled{% endunless %}">
        <a href="{{paginator.previous_page}}" rel="next">récents &rarr;</a>
      </li>
    </ul>
  </div>
</div>
