// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

dl {
  overflow: hidden;
  margin-bottom: 1em;
}

dt {
  clear: both;
  display: block;
  font-weight: bold;

  @media (min-width: 980px) {
    float: left;
    width: 20%;
  }
}

dd {
  display: block;
  margin-bottom: .5em;

  @media (min-width: 980px) {
    margin-left: 20%;
  }
}
